@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-roboto);
  background: #161616;
}

h1 {
  font-size: 1.5rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.border-red {
  border: 1px solid red !important;
}

.bg-primary {
  --background: #e9c6a9;
  background: url("https://www.shadergradient.co/customize?animate=on&axesHelper=on&bgColor1=%23000000&bgColor2=%23000000&brightness=0.5&cAzimuthAngle=60&cDistance=7.1&cPolarAngle=90&cameraZoom=15.3&color1=%23E9C6A9&color2=%23161616&color3=%23161616&destination=onCanvas&embedMode=off&envPreset=city&format=gif&fov=45&frameRate=10&grain=off&http%3A%2F%2Flocalhost%3A3002%2Fcustomize%3Fanimate=on&lightType=3d&pixelDensity=1&positionX=0&positionY=-0.15&positionZ=0&range=enabled&rangeEnd=40&rangeStart=0&reflection=0.6&rotationX=0&rotationY=0&rotationZ=0&shader=defaults&toggleAxis=false&type=sphere&uAmplitude=1.4&uDensity=1.1&uFrequency=5.5&uSpeed=0.3&uStrength=0.5&uTime=0&wireframe=false&zoomOut=true");
}

.text-primary {
  color: #e9c6a9;
}

.btn-primary {
  min-width: 120px;
  min-height: 30px;
  background: #e9c6a9;
}

.h-40px {
  height: 40px;
}
.border-primary {
  border: 2px solid #e9c6a9;
}
.border-pbottom {
  border-bottom: 1px solid #e9c6a9;
}
.border-ptop {
  border-top: 1px solid #e9c6a9;
}
.margin-top-60px {
  margin-top: -90px !important;
}
.custom-quill-editor .ql-editor {
  min-height: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
  /*background-color: #f1f6fa;*/
}
.custom-quill-editor .ql-toolbar {
  background-color: white; /* Set toolbar background to white */
  color: black; /* Optional: Set text color */
}

.border-left-primary {
  border-left: 5px solid #e9c6a9;
}
